.container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.table-container {
    margin: 20px;
}

.MuiPagination-root {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
